#create-form{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
}
.list{
    padding: 50px;
}

#myMap{
    height: 400px;
    background-color: red;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}